@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


#txt-input {
    display: block;
    height: 10vh;
    width: 70%;
    margin: 2rem;
    padding: 1rem;
}

#output {
    border: 2px solid black;
    height: 10vh;
    width: 70%;
    margin: 2rem;
    padding: 1rem;
}

#btn-translate {
    color: black;
    background-color: #10B981;
}

.title {
    color: black;
    background-color: #10B981;
    padding: 1rem;
    text-align: center;
    padding: 2rem;

}

.footer {
    text-align: center;
    color: black;
    background-color: #10B981;
    font-size: medium;
    font-size: 15px;
    padding: 2rem;
}

.image {
    max-width: 80rem;
    height: 30rem;
    margin: auto;
}